/*Layout*/

.container {
  max-width: 1000px;
}

h1 {
  padding-bottom: 9px;
}

/*Jumbotron*/

.jumbotron {
  margin: 0;
  background: url("../img/record-tape.png") no-repeat center center;
  position: relative;
  background-size: cover;
  text-align: center;
  padding: 10px 0;
}


.jumbotron h1 {
  color: white;
  text-shadow: 2px 2px black;
}

.jumbotron h4 {
  color: black;
  font-size: 16px;
}

/*Navbar*/

.navbar ul {
  margin: 10px 0 0 0;
  padding: 0 0 5px 0;
  text-align: center;
  border-bottom: 1px solid black;
}

.navbar {
  background-color: white;
}

.navbar li {
  display: inline;
  padding: 0 15px;
  font-size: 20px;
}

.navbar li a {
  color: #333;
}

.navbar li a:hover {
  color: #FF0000;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.btn:hover {
  color: #FF0000;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.img-responsive {
  margin: 0 auto;
}

.modal-body iframe {
	width: 100%;
}

/*Buttons*/

.btn {
  background-color: white;
  color: black;
  background-image: none;
  border: 1px solid black;
  margin-top: 24px;
  font-size: 18px;
  padding: 10px 16px;
}

/*Media Queries*/
  

@media (max-width: 500px) {
  .navbar li {
    padding: 0 3px;
    font-size: 14px;
  }
} 
